{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
				<p>Website: {{ artist.website }}</p>
				<p>Genre(s): {{ artist.genres }}</p>
				<a href="{{ artist.website }}" target="popup"	onclick="window.open('{{ artist.website }}','popup','width=600,height=600'); return false;"> {{ artist.facebook_link }}></a>
			<p></p>
				<a href="{{ artist.facebook_link }}" target="popup"	onclick="window.open('{{ artist.facebook_link }}','popup','width=600,height=600'); return false;"> {{ artist.facebook_link }}></a>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}