{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}" = {{ results.count }}</h3>
<ul class="items">
	{% for artist in results.data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<img src="{{ artist.image_link }}" alt="Image for artist: {{ artist.name }}" style="max-width:200px;width:100%">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}